.header {
    padding: 30px 0;

    @include vp-tablet {
        padding: 15px 0;
    }

    &__wrapper {
        max-width: 100%;
        display: grid;
        grid-template-columns: 100px 1fr auto;
        align-items: center;
        justify-items: center;
        gap: 25px;

        @include vp-mobile {
            display: flex;
            justify-content: space-between;
        }
    }

    &__logo {
        display: block;

        @include vp-mobile {
            display: none;
        }

        &:focus-visible,
        &:hover {
            opacity: 0.5;
        }
    }

    &__burger {
        position: relative;
        background-color: transparent;
        border: none;
        padding: 0;
        display: flex;
        display: none;

        @include vp-mobile {
            display: block;
        }

        &::before {
            content: "";
            position: absolute;
            inset: -10px;
            cursor: pointer;
        }

        &:focus-visible {
            outline: 1px solid $color-gray;
            outline-offset: 10px;
        }

        &:hover {
            .header__burger-icon {
                background-color: $color-gray;
            }
        }
    }

    &__burger-icon {
        display: block;
        width: 18px;
        height: 1px;
        background-color: $color-black;
        position: relative;
        cursor: pointer;

        &::after,
        &::before {
            content: "";
            display: block;
            width: 18px;
            height: 1px;
            background-color: $color-black;
            position: absolute;
            top: -5px;
            left: 0;
        }

        &::before {
            top: 5px;
            left: 0;
        }
    }

    &__logo {
        @media (max-width: 500px) {
            display: none;
        }
    }

    &__cart {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: -10px;
            cursor: pointer;
        }

        &:focus-visible,
        &:hover {
            opacity: 0.5;

        }
    }
}